<div class="card" style="width: 25rem;">
    <div class="card-body">
        <h5 class="card-title">{{ card.firstName }} ,{{card.lastName}}</h5>
        <div class="card-text">
            <div> Email: {{card.Email}}</div>
            <div> Phone Number: {{card.phoneNumber}}</div>
            <div> Extra Text: {{card.extraText}}</div>
            <a href="" class="btn btn-primary">Destory Card</a>
            <a href="" class="btn btn-primary">Edit Card</a>
        </div>
    </div>
</div>


<!--
firstName:string;
lastName:string;
phoneNumber:string;
Email:string;
extraText:string;
imageUri:string;
-->