<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="https://github.com/dejiang27/business-cards">
      <img src="assets/business-card.png" alt="image" height="60" width="60"/>
        Business-cards
      </a>
    </div>
    
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
    </form>

    <ul class="nav justify-content-end">
      <li class="nav-item">
        <button type="button" class="btn btn-info" [routerLink]="['/user']" >
          <img src="assets/icon-profile.png" alt="image" height="20" width="20">
          User
        </button>
      </li>
      &nbsp;
      &nbsp;

      <li class="nav-item">
        <app-logout></app-logout>
      </li>
    </ul>
  </div>
</nav>